fastapi[all]
uvicorn[standard]
gunicorn
google[cloud]
google-auth
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
google-cloud-secret-manager
sqlalchemy
databases[postgresql]
cryptography
asyncpg
httpx
pydantic
authlib
pyjwt
datetime
bcrypt
psycopg2
# psycopg2-binary
uuid
starlette