fastapi[all]==0.65.2
uvicorn[standard]==0.14.0
gunicorn
google[cloud]
google-auth
google-auth-oauthlib
google-api-python-client
google-cloud-secret-manager
sqlalchemy
databases[postgresql]
asyncpg
httpx
pydantic